server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true
    ip-address: 127.0.0.1
    instance-id: ${spring.application.name}:${server.port}

spring:
  config:
    import:
      - "classpath:configs/secret.yml"
  mail:
    host: smtp.mail.ru
    port: 465
    username: ${mail.username}
    password: ${mail.password}
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true