server:
  port: 8082

app:
  kafka:
    enabled: false

eureka:
  client:
    enabled: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true
    ip-address: 127.0.0.1
    instance-id: ${spring.application.name}:${server.port}

spring:
  datasource:
    url: jdbc:postgresql://127.0.0.1:5432/aston_hw2
    username: aston_user
    password: 123
    driver-class-name: org.postgresql.Driver

jpa:
  hibernate:
    ddl-auto: update
  properties:
    hibernate:
      dialect: org.hibernate.dialect.PostgreSQLDialect

resilience4j:
  circuitbreaker:
    instances:
      userService:
        slidingWindowSize: 2
        failureRateThreshold: 100
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 1
        automaticTransitionFromOpenToHalfOpenEnabled: true
        ignore-exceptions:
          - com.aston.homework.service.UserServiceException